<div class="list row">
  <div class="col-md-12">
    <h4>Lista de pessoas</h4>

    <table class="table">
      <thead>
        <tr>
          <th>...</th>
          <th>Nome</th>
          <th>Email</th>
          <th>
            <button class="btn btn-primary mx-1" title="Add New User">
              Novo
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let pessoa of pessoas; let i = index"
          (click)="setCurrentPessoa(pessoa, i)"
        >
          <td>{{ i + 1 }}.</td>

          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.email }}</td>

          <td>
            <div>
              <button class="btn btn-primary mx-1" title="Edit User">
                Editar
              </button>

              <button class="btn btn-danger mx-1" title="Delete User">
                Exluir
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
